{% if not request.user.is_authenticated%}
<a href="{% url 'istek_olustur' %}" class="btn btn-primary btn-block btn-lg mb-3 d-block d-md-none"><i class="fas fa-search-dollar"></i> Uygun iş ara</a>
<a href="{% url 'ilan_olustur' %}" class="btn btn-success btn-block btn-lg mb-3 d-block d-md-none"><i class="fas fa-bullhorn"></i> Çalışan ara</a>
{% endif %}

{% if request.user.is_authenticated %}
{% if request.user.uye_tipi == "is_veren" %}
<a href="{% url 'ilan_olustur' %}" class="btn btn-success btn-block btn-lg mb-3 d-block d-md-none"><i class="fas fa-bullhorn"></i> Çalışan ara</a>
{% else %}
<a href="{% url 'istek_olustur' %}" class="btn btn-primary btn-block btn-lg mb-3 d-block d-md-none"><i class="fas fa-search-dollar"></i> Uygun iş ara</a>
{% endif %}
{% endif %}
