<nav class="navbar navbar-dark bg-info mt-3">
<div class="container">
<div class="row w-100">
	<div class="col-md-2"><a class="navbar-brand" href="{% url 'frontpage' %}"><i class="far fa-clock"></i> Dakikada i$</a></div>
	<div class="col-md-10 w-100">
		<ul class="nav justify-content-end">
			<li class="nav-item"><a class="nav-link text-light" href="{% url 'frontpage' %}">Anasayfa</a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#">Hakkımızda</a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#">Gizlilik</a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#">İletişim</a></li>
		</ul>
	</div>
</div>
</div>
</nav>
