{% extends 'master-full.html' %}
{% block content %}
<div class="bg-white p-4 minh">
    <div><h4>Yeni Bir İş İlanı Oluştur</h4><hr/></div>
<div class="row">
<div class="col-md-9">

    {% if firma == "eksik-bilgi" %}
    <div class="alert alert-danger">
        <p>İş ilanı oluşturabilmek için firma bilgilerini eksiksiz doldurmanız gerekmektedir.</p>
    </div>
    {% else %}

        {% if form %}
        <form action="{{ request.get_full_path }}" method="POST">
        {% csrf_token %}
        <div class="row">


                <div class="col-12">{% include 'finput-item.html' with item=form.baslik %}</div>
                <div class="col-12 checkboxes">{% include 'finput-item.html' with item=form.meslek search=True %}</div>
                <div class="col-12 col-sm-6">{% include 'finput-item.html' with item=form.sehir %}</div>
                <div class="col-12 col-sm-6">{% include 'finput-item.html' with item=form.tecrube %}</div>
                <div class="col-12 col-sm-6">{% include 'finput-item.html' with item=form.cinsiyet %}</div>
                <div class="col-12 col-sm-3">{% include 'finput-item.html' with item=form.yas_min %}</div>
                <div class="col-12 col-sm-3">{% include 'finput-item.html' with item=form.yas_max %}</div>
                {% comment %}
                <div class="col-12 checkboxes">{% include 'finput-item.html' with item=form.kategori search=True %}</div>
                {% endcomment %}
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.zaman %}</div>
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.maas %}</div>
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.egitim %}</div>
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.askerlik %}</div>
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.dil_konusma %}</div>
                <div class="col-12 col-sm-6 checkboxes">{% include 'finput-item.html' with item=form.dil_yazma %}</div>
                <div class="col-12">{% include 'finput-item.html' with item=form.detay %}</div>
                <div class="col-12">
                    <button class="btn btn-primary pl-4 pr-4" name="durum" value="1">Yayımla</button>
                    <button class="btn btn-dark pl-4 pr-4" name="durum" value="0">Taslak Olarak Kaydet</button>
                </div>



        </div>
        </form>
        {% endif %}
    {% endif %}


</div>
{% include 'user/sidebar.html' %}
</div>
</div>
{% endblock %}



{% block head %}
<style media="screen">
    .form-group > label{ font-weight: 500; color: #000; display: block; }
    .checkboxes .form-group ul{ margin: 0; padding: 0; list-style-type: none; display: block; overflow: hidden; max-height: 100px; overflow-y: auto;
    border: 1px solid rgba(100, 100, 100, 0.18); min-height: 80px;}
    .checkboxes .form-group ul li{ width: 50%; float: left; margin: 0; padding: 2px 5px; font-size: 14px;}
    .checkboxes .form-group ul li label{ margin: 0; cursor: pointer; }

    .checkboxes .form-group ul#id_meslek{ min-height: 450px; max-height: 450px; }
    .checkboxes .form-group ul#id_meslek li{ width: 100%; float: none; }

</style>
{% endblock %}

{% block footer %}

<script type="text/javascript">
    $('input[type=text], input[type=password], input[type=email],input[type=tel], input[type=url], input[type=number]').addClass('form-control').attr('autocomplete','off');
    $('select').addClass('custom-select');
    $('input[id^=search_]').on('input', function(){
        var val = $(this).val();
        val = val.substr(0,1).toUpperCase()+val.substr(1);
        var alt = $(this).attr('alt');
        $('ul#id_'+alt+' li').removeClass('d-none');
        $('ul#id_'+alt+' li label:not(:contains('+val+'))').parent('li').addClass('d-none');
    });
</script>

{{ form.media }}
{% endblock %}
